@model IEnumerable<Entities.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, null, new { id = "btnCreate", @class = "btn btn-small btn-info" })
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doamin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyTariff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutomaticDrive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doamin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyTariff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutomaticDrive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CarID }, new { id = "btnEdit", @class = "btn btn-small btn-info" })| 
            @Html.ActionLink("Details", "Details", new { id=item.CarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarID })
        </td>
    </tr>
}

</table>


@*<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>*@


<div id="dialogDiv" class="modal fade" tabindex="-1" role="dialog">
    <div id='dialogContent'></div>
</div><!-- /.modal -->


<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnCreate').click(function () {
            $('#dialogContent').load('@Url.Action("CreatePartial", "Cars")', function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

        $('#btnEdit').click(function () {
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });



    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#dialogDiv').modal('hide');
                        // Refresh:
                        location.reload();
                    } else {
                        $('#dialogContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }

</script>