@model IEnumerable<Entities.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create",null, new { id = "modal-opener" })*@

</p>
<button id="modal-opener">Create New</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClientID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ClientID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.ClientID })
        </td>
    </tr>
}

</table>
<!---
 Se crea un div de la clase "dialog-modal" que contiene una llamada a AJAX y que va a ser el formulario que se abra dentro del modal contenido en el layout
 -->
<div id="dialog-modal" title="Basic Modal Dialog">
    @using (Ajax.BeginForm("index", new AjaxOptions { UpdateTargetId = "ID", OnSuccess = "onSuccess" }))
    {
     <div><p>Hola e-builders</p></div>
    }
</div>
