@model IEnumerable<Entities.Client>

@{
    ViewBag.Title = "ABM - Clientes";
}

<h2>ABM - Clientes</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ClientID }, new { @class = "modal-link btn btn-primary glyphicon glyphicon-pencil btnEdit" })
                @Html.ActionLink(" ", "Details", new { id = item.ClientID }, new { @class = "modal-link btn btn-success glyphicon glyphicon-list-alt btnDetails" })
                @Html.ActionLink(" ", "Delete", new { id = item.ClientID }, new { @class = "modal-link btn btn-danger glyphicon glyphicon-remove btnDelete" })
            </td>
        </tr>
    }
    <tr>
        <td>
            <p>
                @Html.ActionLink("Alta Nuevo Cliente", "Create", null, null, new { @class = "btn btn-small btn-info btnCreate" })
            </p>
        </td>
    </tr>
</table>

<div id="dialogDiv" class="modal fade" tabindex="-1" role="dialog">
    <div id='dialogContent'></div>
</div><!-- /.modal -->
